<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{@title}}</title>
</head>
    <body>
        <h1>{{@title}}</h1>
        <p>User logged in as {{ @username }} using {{  @password }}</p>
        <p>{{@favfood}} and {{@color}}</p>
        <p>A circle with a radius of {{$radius }} has a circumference of {{ round(2 * pi() * @radius,3)}}</p>

        <h3>My Favorite Fruits</h3>
        <ul>
            <repeat group = "{{@fruits }}" value = "{{ @fruit }}">
                <li> {{@fruit}}</li>
            </repeat>
        </ul>

    </body>
</html>